$v-card-background: map-get($theme, primary); // déclare une couleur en utilisant la variable de thème primary
$v-btn-background: map-get($theme, secondary); // déclare une couleur en utilisant la variable de thème primary
$v-btn-text: map-get($theme, secondary); // déclare une couleur en utilisant la variable de thème primary
